[submodule "lib/runtime/node-jshint"]
	path = lib/runtime/node-jshint
	url = git://github.com/jshint/node-jshint.git
[submodule "lib/runtime/node-argsparser"]
	path = lib/runtime/node-argsparser
	url = git://github.com/kof/node-argsparser.git
[submodule "lib/runtime/minimatch"]
	path = lib/runtime/minimatch
	url = git://github.com/isaacs/minimatch
[submodule "lib/runtime/node-lru-cache"]
	path = lib/runtime/node-lru-cache
	url = git://github.com/isaacs/node-lru-cache
